<footer class="footer">
    <div class="container-xxl">
        <div class="row">
            <div class="col-md-4">
                <div class="footer-1">
                    <div class=" footer-logo">
                        <a href="void::javascript(0)" routerLink="/"> <img src="../../../../../footer logo.png" alt=""
                                srcset=""></a>
                    </div>
                    <p class="footer-1-p">Measuring what matters for <br> sustainable, resilient urban futures</p>

                    <ul class="footer_social_icon">
                        <li><a href="void::javascript(0)"><svg width="33" height="33" viewBox="0 0 33 33" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M16.1885 32.962C25.1292 32.962 32.377 25.7142 32.377 16.7735C32.377 7.83281 25.1292 0.584961 16.1885 0.584961C7.24785 0.584961 0 7.83281 0 16.7735C0 25.7142 7.24785 32.962 16.1885 32.962Z"
                                        fill="#F7F2F0" />
                                    <path
                                        d="M14.7419 22.6715L14.7251 17.5112H12.5301V15.2996H14.7251V13.8252C14.7251 11.8354 15.9482 10.8765 17.71 10.8765C18.5539 10.8765 19.2792 10.9398 19.4906 10.9681V13.0475L18.2687 13.0481C17.3105 13.0481 17.125 13.5068 17.125 14.18V15.2996H19.847L19.1153 17.5112H17.125V22.6715H14.7419Z"
                                        fill="#304A43" />
                                </svg>
                            </a></li>
                        <li><a href="void::javascript(0)"><svg width="33" height="33" viewBox="0 0 33 33" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M16.5528 32.962C25.4935 32.962 32.7413 25.7142 32.7413 16.7735C32.7413 7.83281 25.4935 0.584961 16.5528 0.584961C7.61213 0.584961 0.364288 7.83281 0.364288 16.7735C0.364288 25.7142 7.61213 32.962 16.5528 32.962Z"
                                        fill="#F7F2F0" />
                                    <path
                                        d="M19.4547 14.2987C19.8455 14.2987 20.1624 13.9818 20.1624 13.591C20.1624 13.2001 19.8455 12.8833 19.4547 12.8833C19.0638 12.8833 18.747 13.2001 18.747 13.591C18.747 13.9818 19.0638 14.2987 19.4547 14.2987Z"
                                        fill="#304A43" />
                                    <path
                                        d="M16.3986 13.6704C18.0246 13.6704 19.3476 14.9927 19.3478 16.6187C19.3478 18.2448 18.0248 19.5679 16.3986 19.5679C14.7726 19.5676 13.4503 18.2447 13.4503 16.6187C13.4506 14.9928 14.7727 13.6706 16.3986 13.6704ZM16.3986 15.145C15.5857 15.1452 14.925 15.8067 14.925 16.6196C14.9251 17.4325 15.5858 18.093 16.3986 18.0933C17.2116 18.0933 17.8731 17.4326 17.8732 16.6196C17.8732 15.8065 17.2117 15.145 16.3986 15.145Z"
                                        fill="#304A43" />
                                    <path
                                        d="M19.501 10.8755C21.0165 10.8755 22.45 12.3083 22.4503 13.8237V19.7212C22.4503 21.2368 21.0166 22.6704 19.501 22.6704H13.6036C12.0881 22.6701 10.6553 21.2367 10.6553 19.7212V13.8237C10.6556 12.3084 12.0883 10.8757 13.6036 10.8755H19.501ZM13.6036 12.3501C12.9144 12.3504 12.1299 13.1356 12.1299 13.8247V19.7222C12.1303 20.4244 12.9013 21.1956 13.6036 21.1958H19.501C20.1901 21.1958 20.9753 20.4113 20.9756 19.7222V13.8247C20.9756 13.1355 20.1903 12.3501 19.501 12.3501H13.6036Z"
                                        fill="#304A43" />
                                </svg>

                            </a></li>

                    </ul>
                </div>
            </div>
            <div class="col-md-5">
                <div class="main-footer2">
                    <div class="footer-2">
                        <h4 class="footer_head">Quick Links</h4>
                        <ul class="footer_links_area">
                            <li>
                                <a href="void::javascript(0)" routerLink="/" class="footer-items">
                                    <span class="dot5"></span>
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="void::javascript(0)" routerLink="/index-methodology" class="footer-items">
                                    <span class="dot5"></span>
                                    Index Methodology
                                </a>
                            </li>
                            <li>
                                <a href="void::javascript(0)" routerLink="/partner-city" class="footer-items">
                                    <span class="dot5"></span>
                                    Partners & Cities
                                </a>
                            </li>
                            <li>
                                <a href="void::javascript(0)" routerLink="/research-publication" class="footer-items">
                                    <span class="dot5"></span>
                                    Knowledge Hub
                                </a>
                            </li>
                        </ul>

                    </div>
                    <div class="footer-2">
                        <ul class="footer_links_area">
                            <li>
                                <a href="void::javascript(0)" routerLink="/blog" class="footer-items">
                                    <span class="dot5"></span>
                                    Blogs
                                </a>
                            </li>
                                                        <li>
                                <a href="void::javascript(0)" routerLink="/privacy" class="footer-items">
                                    <span class="dot5"></span>
                                    Privacy Policy
                                </a>
                            </li>
                            <li>
                                <a href="void::javascript(0)" routerLink="/contact" class="footer-items">
                                    <span class="dot5"></span>
                                    Contact Us
                                </a>
                            </li>
                            <li>
                                <a (click)="loginCityUser()" style="cursor: pointer;" class="footer-items">
                                    <span class="dot5"></span>
                                    Client Portal Login
                                </a>
                            </li>
                            <li>
                                <a (click)="loginAdmin()" style="cursor: pointer;" class="footer-items">
                                    <span class="dot5"></span>
                                    Admin Login
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>

            <div class="col-md-3">


                <div class="footer-2">
                    <h4 class="footer_head">Get in Touch</h4>
                    <ul class="footer_links_area">
                        <li>
                            <div class="footer-items" style="color:#FFF; text-decoration:none;">
                                <!-- <span class="dot5"></span> -->
                                <span class="address-line">
                                10901 Rhode Island Ave #225<br>
                                Beltsville, MD 20704<br>
                                United States
                                </span>
                            </div>
                        </li>

                        <li>
                            <a class="footer-items" href="mailto:veridian01@veridianurbansystems.com">
                                <!-- <span class="dot5"></span> -->
                                veridian01@veridianurbansystems.com
                            </a>
                        </li>
                        <li>
                            <a href="void::javascript(0)" class="footer-items new_footer_item">
                                <span class="number_label">Need help? Call us</span>
                                +1888-381-3764
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>