/* container masks overflow */
.scrolling-pillar-container {
  width: 100%;
  overflow: hidden;
}


.scrolling-pillar-track {
  display: flex;
  gap: 8.0rem;
  will-change: transform;
}


.scrolling-pillar-track span.outer_text {
  white-space: nowrap;
  display: flex;
  grid-gap: 8.0rem;
}

.icon-3 img {
  width: 3.3rem;
  height: auto;
}

.plan_head .plan_icon {
  flex: unset;
  display: block;
  font-size: 20px;
}

.plan_head .plan_icon path,
.plan_head .plan_icon svg {
  width: 28px;
  height: 28px;
}

/* .price_name h5 {
    font-size: 25px;
    text-transform: capitalize;
    line-height: 30px;
    font-weight: 600;
    margin-top: 5px;
}
.price_name {
    flex: 1;
}
.plan_head {
    display: flex;
    align-items: flex-start;
    grid-gap: 2.5rem;
    margin-bottom: 2.4rem;
    flex-direction: column;
}
.price_name span {
    border-radius: 0.6rem 0.6rem 0.6rem 0;
    background: #EFBF04;
    padding: 0.5rem 1rem;
    color: #304A43;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.4rem;
    display: inline-flex;
    position: relative;
} */


/* @media only screen and (max-width:1200px){
  .price_name h5{
      font-size: 22px;
      line-height: 28px;
  }
}

@media only screen and (max-width:991px){
  .price_name h5{
      font-size: 18px;
      line-height: 25px;
  }
  .plan_head .plan_icon path, .plan_head .plan_icon svg{
      width: 28px;
      height: 28px;
  }
} */

.single_card_new p b {
  font-size: medium;
  font-weight: 700;
}

.choose_plan_home .plan_section {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
  padding-top: 50px;
}

.choose_plan_home .modal-dialog {
  max-width: 1260px;
  width: 100%;
  padding: 20px;
}

::ng-deep .modal-backdrop.fade.show {
  z-index: 99999 !important;
}

.choose_plan_home.show {
  z-index: 999999 !important;
}

.choose_plan_home .btn-close {
  background-color: #ffffff;
  opacity: 1;
  padding: 10px;
  border-radius: 100px;
  top: -15px;
  right: -15px;
}

@media only screen and (max-width:1199px) {
  .choose_plan_home .plan_section {
    padding-left: 0;
    padding-right: 0;
  }
}

.read-more-btn {
  background: none;
  border: none;
  color: #304a43;
  font-weight: 700;
  cursor: pointer;
  padding: 0;
  margin-top: 10px;
  transition: 0.3s;
  font-size: 12px;
}

.read-more-btn:hover {
  text-decoration: underline;
  font-size: 13px;
}
