/* container masks overflow */
.scrolling-pillar-container {
  width: 100%;
  overflow: hidden;
}


.scrolling-pillar-track {
  display: flex;
  gap: 8.0rem;
  will-change: transform;
}


.scrolling-pillar-track span.outer_text {
  white-space: nowrap;
  display: flex;
  grid-gap: 8.0rem;
}

.icon-3 img
{
  width: 3.3rem;
  height: auto;
}