.blog_sub_h4 {
    color: #1D1D1D;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 2.5rem 0;
}
ul.blog_list_ul {
    color: #565656;
    font-size: 1.8rem;
    font-weight: 400;
    font-style: normal;
    line-height: 2.8rem;
    margin-bottom: 1.5rem;
    padding-left: 30px;
    list-style: disc;
}

.blog_sub_head h4 {
    color: #1D1D1D;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 2.5rem 0;
}

.blog_sub_head p {
  margin-bottom: 12px;
}
.blog_sub_head {
  word-break: break-word;
  overflow-wrap: break-word;
}

.blog_img{
    border-width: 1px;
    border-style: solid;
    border-color: rgb(221, 221, 221);
    border-image: initial;
    padding: 15px;
    border-radius: 12px;
}
.blog_img img {
    width: auto;
    margin: auto;
    height: 100%;
    max-width: 100%;
    max-height: 660px;
}
