
/* .blog_img img { 
    height: 540px;
    object-fit: cover;
} */

.blog_sub_h4 {
    color: #1D1D1D;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 2.5rem 0;
}