.blog_img img {
    aspect-ratio: 385/ 291;
    object-fit: cover;
}

.blog_page .row > div:has(.single_blog_main) {
    margin-bottom: 5rem;
}

.single_blog_main_small {
    height: 100%;
}

section.blog_page {
    padding-bottom: 5rem;
}

.pagination-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;              /* space between buttons */
  flex-wrap: wrap;        /* responsive */
}

.pagination-wrapper a {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  cursor: pointer !important;
}
