
.custom_popup {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.popup_container {
    border-radius: 15px;
    background: var(--White-Color);
    padding: 50px;
    width: 460px;
    max-width: 100%;
}

.confirm_check_icon svg {
    height: 40px;
    width: auto;
    margin-bottom: 15px;
}

